:host {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Occupe toute la hauteur de la fenêtre */
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Occupe tout l'espace restant */
  padding: 1rem; /* Espacement interne */
  box-sizing: border-box;

  /* Limite la largeur maximale */
  max-width: 1024px;
  min-width: calc(100% - 10rem); /* Largeur minimale pour éviter le débordement */
  margin: 0 auto; /* Centre horizontalement */
}